# Since the ".env.local" file is gitignored, you can use the ".env.example" file to
# build a new ".env.local" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env.local`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env.local" and populate it with your secrets.

# Get the Database URL
API_BASE_URL=https://software.example.com/api/v5

# AMS API keys
AMS_PUBLIC_KEY=pub_your_ams_public_key
AMS_PRIVATE_KEY=pri_your_ams_private_key

# Image hostname - domain where you're storing your images
IMAGE_HOSTNAME=software.example.com

# NEXT_PUBLIC_BASE_URL
NEXT_PUBLIC_BASE_URL=http://localhost:3001

# SSLCommerzPayment
STORE_ID=your_ssl_store_id
STORE_PASS=your_ssl_store_pass
IS_LIVE=NO #YES for live, NO for sandbox

# BKASH PAYMENT TEST
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
# 01619777283 / 01619777283  pin 12121 otp 123456 

## Facebook Pixel (we can also use this following env for pixel id if no pixel id provided in ecomerse setting it will be used)
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=FB_PIXEL_ID

## Google Tag Manager (we can also use this following env for GTM id if no GTM id provided in ecomerse setting it will be used)
NEXT_PUBLIC_GTM_ID=GTM-XXXXX

