@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-noto_serif box-border tracking-[.2rem];
  }

  input {
    @apply h-12 text-base font-noto_serif font-normal border border-slate-300 py-2.5 px-4 focus:outline-0 focus:border-primary;
  }

  textarea {
    @apply text-base font-noto_serif font-normal border border-slate-300  py-3 px-4 focus:outline-0 focus:border-primary;
  }

  input::placeholder {
    @apply text-base font-noto_serif font-normal text-slate-300;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px white inset;
  }

  input[type="checkbox"] {
    @apply relative appearance-none w-5 h-5 border-slate-300 rounded p-0 cursor-pointer after:absolute after:content-[''] after:w-full after:h-full after:top-[-50%] after:left-1/2 after:translate-x-[-25%] after:translate-y-1/4 checked:after:content-[url('/assets/images/icons/chk.svg')]  checked:bg-primary checked:border-primary;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  /* input[type="checkbox"]::after {
    @apply absolute top-0 left-[1/2] hidden text-sm text-white translate-x-[-50%]
  } */

  .select {
    @apply appearance-none bg-[url('/assets/images/icons/chv-down.svg')] bg-no-repeat bg-[length:24px_40px] bg-[right_1rem_center];
  }

  svg {
    @apply inline-block;
  }

  button svg {
    @apply mx-auto;
  }
}

@layer components {
  .container-fluid {
    /* @apply md:px-5 2xl:max-w-[1276px]; */
    @apply 2xl:max-w-[2000px] mx-auto;
  }
  .container {
    /* @apply md:px-5 2xl:max-w-[1276px]; */
    @apply px-5 2xl:max-w-[1720px] mx-auto;
  }
}

/* Global Css */

.sec-title {
  @apply text-3xl font-bold font-noto_serif text-slate-900;
}

.nav-search {
  /* width: 25rem; */
  @apply max-w-[25rem] relative 2xl:max-w-[35rem];
}

.nav-search input {
  width: calc(100% - 48px);
  @apply text-black;
}

.search-input {
  @apply rounded-l-full border bg-white border-slate-200 border-r-0 outline-none group-hover:bg-[#f6f7f8] group-hover:border-slate-200 focus:border-slate-200 text-sm h-auto py-2.5;
}
.search-btn {
  @apply absolute w-12 py-2 border-l-0 bg-white text-[#212529] border border-slate-200 group-hover:bg-[#f6f7f8] group-hover:border-slate-200 rounded-e-full outline-none text-center;
}

.all-btn {
  @apply inline-flex items-center gap-2 text-base/[16px] font-semibold font-noto_serif text-primary;
}

.primary-btn {
  @apply inline-flex items-center justify-center gap-2 text-white font-semibold font-noto_serif bg-primary text-center box-border py-3 active:scale-95;
}

.text-btn {
  @apply inline-flex items-center justify-center gap-2 text-primary font-noto_serif bg-transparent box-border p-2;
}
.icon-btn {
  @apply inline-flex items-center justify-center gap-2 font-noto_serif bg-transparent box-border py-3;
}

.social-icon-btn {
  @apply inline-flex justify-center items-center w-full gap-2 py-2 px-8 rounded-full border border-slate-300;
}

.overflow-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 1; */
  @apply overflow-y-hidden text-ellipsis;
}

.breadcrumb a:not(:last-of-type) {
  @apply relative inline-block mr-6;
}

.breadcrumb a:not(:last-of-type)::after {
  @apply absolute content-[url('/assets/images/icons/chv-right-wht.svg')] top-0.5 right-[-24px] w-5 h-5 text-white;
}

.breadcrumb-2 a:not(:last-of-type)::after {
  @apply content-[url('/assets/images/icons/chv-right.svg')];
}

.list-stl li {
  @apply list-disc ms-6;
}

.price-range .rc-slider-track {
  @apply h-[6px] bg-primary rounded-none;
}

.price-range .rc-slider-handle {
  @apply w-4 h-4 border-solid border-2 border-transparent rounded-full shadow-[0_0_6px_rgba(0,0,0,0.1)] cursor-pointer opacity-100 hover:border-transparent border-primary hover:border-primary active:shadow-none active:cursor-pointer focus:border-primary focus-visible:border-primary focus-visible:shadow-none;
}

.price-range
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  @apply border-primary shadow-none;
}

/* Header */

.nav-menu a,
.nav-menu .menuBtn {
  @apply text-sm text-white  ease-in duration-100 hover:text-primary;
}

/* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
.nav-nested-menu li > ul {
  transform: translatex(100%) scale(0);
}
.nav-nested-menu li:hover > ul {
  transform: translatex(101%) scale(1);
}
.nav-nested-menu li > a svg {
  transform: rotate(-90deg);
}
.nav-nested-menu li:hover > a svg {
  transform: rotate(-270deg);
}

.header-actions .single-action {
  @apply w-10 h-10  rounded-full ease-in duration-100;
}

/* Service Features */

.single-feature {
  @apply relative pr-4;
}

.single-feature:not(:first-of-type)::before {
  @apply absolute content-[''] left-[-32px] top-0 w-px h-full bg-slate-300;
}

/* Single Product */

.product-title {
  -webkit-line-clamp: 1;
  @apply my-1;
}

.product-img-action-wrap .action-btn {
  @apply absolute top-3 left-3 inline-flex justify-center items-center w-7 h-7 bg-white border border-slate-300 rounded-full cursor-pointer ease-in duration-100 hover:bg-primary hover:text-white hover:border-primary;
}

.product-actions .action-btn {
  @apply text-center text-primary border border-primary cursor-pointer ease-in duration-100 hover:bg-primary hover:text-white hover:border-primary;
}

.buy-btn {
  @apply text-center  text-base/[16px] font-semibold font-noto_serif text-white bg-primary w-[168px] py-2 active:scale-95;
}

/* From common classes  */
.form-control input,
.form-control textarea {
  @apply w-full;
}

/* Contact Form */

.contact-wpr input,
.contact-wpr textarea {
  @apply w-full border border-white py-3 px-4 focus:bg-white focus:border-primary focus:outline-none;
}

.submit-btn {
  @apply w-[240px] text-lg font-semibold font-noto_serif text-white bg-primary py-3 active:scale-95;
}

/* Swiper Slider default Overrides/Adjustments  */

/* .product-preview-slider > .swiper-pagination {
  @apply bg-white px-4 rounded-t-xl !py-1.5 !bottom-0 !left-1/2 -translate-x-1/2 lg:hidden;
} */

/* .product-preview-slider .swiper-pagination-bullet {
  @apply bg-primary;
}

.product-preview-slider .swiper-pagination-bullet-active {
  @apply w-6 rounded-lg;
} */

.slider-btn {
  @apply absolute top-1/2 left-0 transform -translate-y-1/2 inline-flex justify-center items-center w-12 h-12 bg-[#F8FAFC] rounded-full z-10 cursor-pointer;
}

.slider-next {
  @apply left-auto right-5;
}

.swiper-button-disabled {
  @apply hidden;
}

.new-slider .swiper-slide .product-card-wrap:first-of-type {
  @apply mb-5;
}
/* Swiper Thumb Slider */

.slider {
  @apply grid grid-cols-[64px_1fr] items-start;
}

.thumb-slider .swiper {
  @apply w-full max-w-full min-w-0 max-h-max min-h-0;
}

.thumb-slider .swiper-slide-thumb img {
  @apply border-slate-100;
}
.thumb-slider .swiper-slide-thumb-active img {
  @apply border-primary;
}

.preview-slider .swiper {
  @apply w-full max-w-full min-w-0 max-h-screen min-h-0;
}

/* Product Details */

.product-details .meta-data svg {
  @apply mb-1;
}

/* .product-details .meta-data span,  */
.product-details .meta-data p {
  @apply relative text-base text-slate-900;
}

.product-details .meta-data p::before {
  @apply absolute content-[""] top-[6px] left-[-16px] w-[1px] h-3 bg-slate-200;
}

.coupon-info li::before {
  @apply absolute content-[""] top-2 left-0 w-2 h-2 bg-slate-400 rounded-full;
}

.delivery .single-info {
  @apply w-1/2 grid grid-cols-[28px_1fr] items-center gap-3 px-5;
}

.product-tab-links a {
  @apply relative inline-block text-slate-600 border-b-2 border-transparent px-6 py-3;
}

.product-tab-links a.active {
  @apply text-secondary-700 border-secondary-700;
}

.product-tab-links li:not(:last-of-type) a::after {
  @apply absolute content-[""] right-0 w-[1px] h-6 bg-slate-200;
}

/* Footer */

/* .footer::after {
  @apply absolute content-[url("/assets/images/ellipse.png")] top-[-75%] right-0 h-12 z-[-1];
} */

/* common classes */
.ReactCollapse__collapse {
  transition: height 300ms;
}
.errorMsg {
  @apply text-base text-red-500 mt-2;
}
.flex-center {
  @apply flex justify-center items-center;
}
.flex-between {
  @apply flex justify-between items-center;
}
.flex-end {
  @apply flex justify-end items-center;
}

/*Dynamic View HTML Adjustments*/
.view-html {
  @apply overflow-hidden;
}
.view-html h1,
.view-html h2,
.view-html h3,
.view-html h4,
.view-html h5,
.view-html h6,
.view-html p,
.view-html ul,
.view-html ol {
  all: revert;
}
.view-html table {
  @apply table-auto border-slate-100 border-spacing-0 border border-separate min-w-full leading-normal;
}
.view-html thead {
  @apply bg-slate-200 text-slate-900;
}
.view-html th {
  @apply px-5 text-left font-bold text-xl uppercase tracking-wider;
}
.view-html td {
  @apply px-5 border-b border-gray-200 bg-white text-sm;
}

.page-header.is-sticky,
.page-header .is-sticky {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.slider-pagination .swiper-pagination {
  bottom: -1rem;
}

.category-slider .swiper-pagination {
  position: relative !important;
  bottom: -0.313rem;
}

.slider-pagination .swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 30px;
  height: 2px;
  background: #bebaba !important;
  transition: all 0.5s ease-in-out;
}

.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000 !important;
  width: 50px !important;
  border-radius: 0 !important;
}

.custom-animation-pulse {
  animation: pulse 3s linear infinite;
  opacity: 1;
}

.custom-fade-in {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 4px #ffffff;
    opacity: 0.5;
  }

  50% {
    box-shadow: 0 0 20px #ffffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 4px #ffffff;
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader {
  width: 4.8px;
  height: 4.8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: #000;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 4.8px;
  height: 4.8px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::after {
  top: -10px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    width: 4.8px;
  }
  100% {
    width: 48px;
  }
}

.product-preview-slider .swiper-slide-active {
  position: relative;
}

.product-preview-slider .swiper-slide-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  z-index: 10;
  animation: fadeOutBlur 1.2s ease-in-out forwards;
}

@keyframes fadeOutBlur {
  0% {
    backdrop-filter: blur(30px);
  }
  100% {
    backdrop-filter: blur(0);
  }
}
.hero-slider .swiper-pagination-bullet {
  border: 2px solid #ffffff !important;
  padding: 4px !important;
  opacity: 100 !important;
  background: transparent !important;
  transition: all 0.5s ease-in-out !important;
}

.hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}

.swiper-pagination {
  text-align: right !important;
  padding-right: 30px !important;
  padding-bottom: 20px;
}

@keyframes scaleDown {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.scale-down {
  transform: scale(1); /* Default scale for inactive slides */
  transition: transform 0.5s ease-in-out;
}

.scale-active {
  animation: scaleDown 0.5s ease forwards;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
